body{
    font-family: 'Poppins', sans-serif;
}
.top-sector{
    display: flex;
    margin-bottom: 100px;
}
.top-sector-left{
    width: 50%;
    padding: 4%;
    padding-top: 10%;
    margin: 2%;
}
.top-sector-right{
    width: 50%;
    /* padding: 2%; */
    margin: 2%;
}
.top-sector-heading{
    font-size: 50px;
}
.top-sector-right img{
    width: 100%;
}
.top-sector-heading{
    color: rgb(143, 122, 114);
}
#one-word{
    color: orange;
}
.top-sector-pra{
    color: gray;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 70px;
}
.link-button{
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color: white;
    padding: 4% 8%;
    /* height: 45px;
    width: 60px; */
    border-radius: 40px;
    background-image: linear-gradient(red, orange);
}

                                /* .......... Middle Section........... */

.middle-sector{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    margin-bottom: 100px;
}
.middle-sector-left{
    width: 50%;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 50px;
}
.middle-sector-right{
    width: 50%;
    padding: 50px;
    padding-right: 190px;
    padding-top: 120px;
}
.middle-heading{
    font-size: 40px;
    color: rgb(23, 121, 121);
}
.middle-sector-pra{
    font-size: 20px;
    margin-bottom: 110px;
    color: rgb(77, 73, 73);
}

/* ...............................Middle Two........................... */

.middle-sector-two-header{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
#two-header{
    font-size: 40px;
    color: gray;
}
.middle-sector-two-pra{
    font-size: 20px;
    color: teal;
}
.middle-sector-two-container{
    display: flex;
    margin-left: 2%;
    margin-bottom: 4%;
}
.boxes img{
    width: 100%;
}
.boxes{
    text-align: left;
    height: 550px;
    width: 400px;
    margin: 2%;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 5px 5px 30px gray;
}